body
{
    background-color: blanchedalmond;
}
#proff
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:2px,solid;  
    border-radius: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: aqua;
}
.data
{
    padding: 7px;
    border: 2px,solid;
    border-top-color: rgb(65, 4, 37);
    border-right-color: rgb(65, 4, 37);
    border-left-color: rgb(65, 4, 37);
    
}